@model DACS_ThueTro.Models.LoaiPhong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LoaiPhong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiPhong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_LoaiPhong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
